
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://images.pexels.com/photos/4855559/pexels-photo-4855559.jpeg?auto=compress&cs=tinysrgb&w=1600"
        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="300" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Our's Premium Membership</h1>
      <p class="lead">
        Unlock a world of exclusive benefits with our premium membership.
        Experience the pinnacle of service and exceptional privileges.
        Indulge in premium features designed to enhance your enjoyment.
        Access a treasure trove of exclusive content and personalized perks.
        Enjoy priority access, seamless convenience, and elevated experiences.
        Elevate your status and be treated to the utmost VIP treatment.
        Discover a realm of luxury, tailored to your discerning tastes.
        Maximize your membership and elevate your lifestyle to new heights.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">More View</button>
      </div>
    </div>
  </div>
</div>




