<h1 style="text-align: center;">THe Ownner Column
  <h4>“A room without books is like a body without a soul.”</h4>
  -- 𝔇𝔦𝔭𝔱𝔞𝔫𝔲
</h1>
<button (click)="navtoHome()">Go to home page</button>
<div class="container my-4 ">
  <ul>
    <h4>About Bookly</h4>

    <h4>More than Books</h4>
    <ol>
      <li> Diptanu BookInfo Private Limited the ideal destination for anyone looking for the best in children's books,
        videos, and
        music. With age-based recommendations, as well as specialty stores that cater to Harry Potter and other big
        titles, it's the ultimate one-stop shop for kids.</li>



      <li> Diptanu BookInfo Private Limited is the ideal destination for anyone looking for the best in children's
        books, videos, and
        music. With age-based recommendations, as well as specialty stores that cater to Harry Potter and other big
        titles, it's the ultimate one-stop shop for kids.</li>


      <li>Diptanu BookInfo Private Limited is the ideal destination for anyone looking for the best in children's books,
        videos, and
        music. With age-based recommendations, as well as specialty stores that cater to Harry Potter and other big
        titles, it's the ultimate one-stop shop for kids.</li>

      <li> Our Music Store has been named the Web's best by Forbes.com. The premier site for Classical, Jazz, Rock, and
        World music, the store's rich content includes exclusive interviews, free downloads, over 1 million sample audio
        clips, nearly 100,000 music reviews, and a roster of 40,000 artist biographies.</li>

      <li> In recent years we've added new product lines, expanding our Toys & Games store on the Web; a Magazines
        store, filled with exclusive and hard-to-find titles offering thousands of subscriptions.</li>

    </ol>

  </ul>

</div>
